*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.contentStart{
    height: 82vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.outerContent{
    /* background: transparent; */
    background: rgb(247, 247, 247);
    margin-right: 10%;
    padding: 0 3em;
    padding-bottom: 3em;
    box-shadow: 7px 7px 8px rgba(100, 100, 100, 0.5);
    margin-top: 4em;
    opacity: 0.9;
    font-size: 1.2em;
}
.innerContent{
    margin-bottom: 0.5em;
}
.image img{
    width: 70%;
    height: 70%;
    margin-top: 10%;
    margin-left: 10%;
}
.divBlock input{
    width: 300px;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    border-style: none;
    background: transparent;
    border-bottom: 2px solid gray;
    font-size: 1em;
    text-indent: 10%;
    
}
.divBlock input:hover{
    background: rgb(228, 240, 240);
    border-radius: 15px;
}
.divBlock label{
    color: rgb(94, 110, 104);
    font-size: 1.5em;
    position: absolute;
    padding: 15px;
}
.btn{
    width: 100%;
}

input:focus {
    outline-width: 0;
}
.downContent{
    display: flex;
    justify-content: flex-end;
    /* padding: 1em 0; */
}
.login{
    text-decoration: underline;
    color: rgb(14, 121, 243);

}
.user{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: rgb(94, 110, 104);
}

.heading{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(73, 72, 72);
    margin-bottom: 1em;
}